<h1>Authors</h1>
<% if current_user.try(:admin?) %>
	<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New'.html_safe, new_author_path, class: 'btn btn-success' %>
<% end %>

<div class="table-responsive">
<table id="authors_table" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
		  <td><%= link_to author.name, author %></td>
		  <td><%= link_to '<i class="fa fa-info" aria-hidden="true"></i> Show'.html_safe, author, class: 'btn btn-default' %></td>
		  <% if current_user.try(:admin?) %>
		  	<td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Edit'.html_safe, edit_author_path(author), class: 'btn btn-warning' %></td>
		  	<td><%= link_to '<i class="fa fa-remove" aria-hidden="true"></i> Remove'.html_safe, author, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
		  <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
