<h1><%= @author.name %></h1>

<table id="books_table" class="table">
	<tr>
		<th>Book name</th>
		<th>Book year</th>
		<th>Book ISBN</th>
	</tr>
	<% (@author.books).each do |book| %>
	<tr>
		<td><%= link_to book.name, book %></td>
		<td><%= book.year %></td>
		<td><%= book.isbn %></td>
	</tr>
	<% end %>
</table>

<ul class="pager">
	<li class="previous"><%= link_to '&larr; Back'.html_safe, authors_path %></li>
</ul>
