<%= form_for [@author, book] do |f| %>
	<% if book.errors.any? %>
		<div class="alert alert-danger">
			<% book.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :author_id %>
		<%= collection_select(:book, :author_id, Author.all, :id, :name, {}, {class: 'form-control'}) %>
	</div>

	<div class="form-group">
		<%= f.label :year %>
		<%= f.number_field :year, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :isbn %>
		<%= f.number_field :isbn, class: 'form-control' %>
	</div>

	<%= f.button '<i class="fa fa-save" aria-hidden="true"></i> Save'.html_safe, class: 'btn btn-success', type: 'submit' %>
<% end %>
