<div class="pull-right">
	<% if current_user.try(:admin?) %>
		<%= link_to 'New', new_book_path, class: 'btn btn-success' %>
	<% end %>
</div>

<h1>Books</h1>

<table id="books_table" class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Reserved?</th>
			<th colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td><%= link_to book.name, book %></td>
			<td><%= link_to Author.find(book.author_id).name, Author.find(book.author_id) %></td>
			<td><%= book.year %></td>
			<td><%= book.isbn %></td>
			<% checked = ""
				if Reservation.find_by book_id: book.id
					checked = "checked"
				end
			%>
			<td><input type="checkbox" <%= checked %> disabled></td>
			<td><%= link_to 'Show', book, class: 'btn btn-default' %></td>
			<% if current_user.try(:admin?) %>
				<td><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-warning' %></td>
				<td><%= link_to 'Remove', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
			<% end %>
			<td><%= link_to 'Reserve', new_reservation_path, class: 'btn btn-primary' %></td>
		</tr>
		<% end %>
	</tbody>
</table>
