<h1><%= @book.name %></h1>

<dl class="dl-horizontal">
	<dt>Author</dt>
	<dd><%= link_to Author.find(@book.author_id).name, Author.find(@book.author_id) %></dd>
	
	<dt>Year</dt>
	<dd><%= @book.year %></dd>
	
	<dt>ISBN</dt>
	<dd><%= @book.isbn %></dd>
</dl>

<ul class="pager">
	<li class="previous"><%= link_to '&larr; Back'.html_safe, books_path %></li>
</ul>
