<%= form_for(reservation) do |f| %>
	<% if reservation.errors.any? %>
		<div class="alert alert-danger">
			<% reservation.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
			<% end %>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :book_id %>
		<%= collection_select(:reservation, :book_id, Book.all, :id, :name, class: 'form-control') %>
	</div>

	<div class="form-group">
		<%= f.label :user_id %>
		<%= collection_select(:reservation, :user_id, User.all, :id, :email, class: 'form-control') %>
	</div>

	<div class="form-group">
		<%= f.label :from %>
		<%= f.date_field :from, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :to %>
		<%= f.date_field :to, class: 'form-control' %>
	</div>

	<%= f.submit 'Save', class: 'btn btn-default' %>
<% end %>
