<h1>Reservations</h1>
<% if user_signed_in? %>
	<%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New'.html_safe, new_reservation_path, class: 'btn btn-success' %>
<% end %>

<table id="reservations_table" class="table">
	<thead>
		<tr>
			<th>Book</th>
			<th>User</th>
			<th>From</th>
			<th>To</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
	<% if @reservations %>
		<% @reservations.each do |reservation| %>
		<tr>
			<td><%= link_to Book.find(reservation.book_id).name, Book.find(reservation.book_id) %></td>
			<td><%= User.find(reservation.user_id).email %></td>
			<td><%= reservation.from %></td>
			<td><%= reservation.to %></td>
			<td><%= link_to '<i class="fa fa-info" aria-hidden="true"></i> Show'.html_safe, reservation, class: 'btn btn-default' %></td>
			<% if user_signed_in? %>
				<td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Edit'.html_safe, edit_reservation_path(reservation), class: 'btn btn-warning' %></td>
				<td><%= link_to '<i class="fa fa-remove" aria-hidden="true"></i> Remove'.html_safe, reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
			<% end %>
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>
